.container{
    width: 700px;
    margin: 2em auto;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
}

.introduction{
    width: 690px;
    height: 250px;
    position:relative;
    background-image: url(image/backgroung-1.jpg);
    background-size:cover;
    border-radius: 30px; 
}
.headshot{
    width: 202px;
    height: 230px;
    position:absolute;
    top: 15px;
    left:10px;
    border-radius: 50px;
}
img{
    border-radius: 100px;
}
.pre{
    width: 470px;
    height: 200px;
    position:absolute;
    font-size: 17px;
    top: 15px;
    left: 215px;
}
.emailphone{
    width: 400px;
    height: 35px;
    position:absolute;
    top: 190px;
    left: 230px;
}
figcaption{
    font-family: 'Noto Sans TC', sans-serif;
}

